@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




:root {
    --primary: #f73959;
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --black: #000;
    --white: #fff;
    --text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', 'Inter', serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}



// Fonts embeded

// @font-face {
//     font-family: TikTokDisplayFont;
//     src: url('/src/assets/font/TikTokDisplayFont-Bold.woff2');
//     font-weight: 700;
// }

// @font-face {
//     font-family: TikTokFont;
//     src: url('/src/assets/font/TikTokFont-Bold.woff2');
//     font-weight: 700;
// }

// @font-face {
//     font-family: TikTokFont;
//     src: url('/src/assets/font/TikTokFont-Regular.woff2');
//     font-weight: 400;
// }

// @font-face {
//     font-family: TikTokFont;
//     src: url('/src/assets/font/TikTokFont-Semibold.woff2');
//     font-weight: 600;
// }



// Custome tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .tippy-arrow{
        color:  rgba(84, 84, 84, 0.92);
    }


    .tippt-content{
        padding: 8px 9px ;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before{
        top: -8px;
    }
}
